/*Sections

1 - Header
2 - Section 1 - One Eye
3 - Section 2 - Two Eyes
4 - Section 3 - Contact
5 - Footer

*/

/* General */

@font-face{
    font-family: "Baloo";
    src: url(../fonts/Baloo-Regular.ttf);
}

@font-face{
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Regular.ttf);
}


/* 1- Header */

.header{
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: black;
    display: table;
}

.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1600px;
    min-width: 900px;
    display: inherit;
}

.header ul{
    width: 100%;
    vertical-align: middle;
    text-align: right;
}

.header ul :first-child{
    float:left;
    color: yellow;
    font-size: 36px;
    font-family: "Baloo";
    font-weight: bold;
    position: relative;
    top: 10px;
}

.header ul li{
    color: white;
    font-family: "Comfortaa";
    margin-right: 20px;
    font-size: 16px;
    display: inline-block;
    
}

#cart{
    color: white;
}

/* 2 - Section 1 - One Eye */

.one-eye, .two-eyes{
    font-family: "Comfortaa";
    margin-left:5%;
    margin-right: 5%;
}

.section-1{
    margin: 50px;
    display: inline-flex;
    margin-top: 7%;
}

.section-1 .right-1{
    margin-top: 3%;
}

.one-eye-img{
    width: 567px;
    height: 511px;
}

.section-1 h2{
    color: #5184AB;
    font-family: Baloo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.025em;
}

.section-1 .description{
    width: 550px;
    height: 197px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.025em;
    text-indent: 28px;
    margin-top: 3%;
}


.section-1 p{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    
}

.right-1 .shop{
    font-family: Baloo;
    font-size: 24px;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    background: #FAD65D;
    border-radius: 50px;
    width: 136px;
    height: 60px;
    border: none;
    display: block;
    margin-left: 35%;
}

.right-1 .quantity-total{
    display: inline-flex;
    margin: 5% 30% 5% 30%;
}

#eighty{
    font-weight: normal;
}

.right-1 .total{
    margin-left: 40px;
}

.section-1 .one-box{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50px;
    width: 53px;
    height: 21px;
    text-align: center;
}

.section-1 .circle{
    width: 21px;
    height: 21px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50px;
    margin-left: 3%;
}

.section-1 .boxes{
    display: inline-flex;
}

.section-1 .horizontal{
    width: 13px;
    height: 3px;
    background: #C4C4C4;
    border-radius: 50px;
    position: relative;
    top: 8px;
    left: 2.5px;
}

.circle .vertical{
    width: 13px;
    height: 3px;
    background: #C4C4C4;
    border-radius: 50px;
    position: relative;
    transform: rotate(90deg);
    top: 5px;
    left: 2.5px;
}


/* 3 - Section 2 - Two Eyes*/

.separator{
    width: 600px;
    height: 1px;
    background: radial-gradient(0.50px at 50% 50%, #5184AB 0%, rgba(51, 51, 51, 0) 100%);
}


.two-eyes-img{
    width: 557px;
    height: 628px;
}

.two-eyes-title{ 
    left:30%;
}


/*4 - Section 3 - Contact */

.send{
    font-family: Baloo;
    font-size: 24px;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    background: #FAD65D;
    border-radius: 50px;
    width: 400px;
    height: 60px;
    border: none;
    display: block;
    margin-left: 35%;
}

.contact h2{
    color: #5184AB;
    font-family: Baloo;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.025em;
    text-align: center;
}

.form{
    text-align: center;
    display: block;
    justify-content: left;
    
}

.contact-titles{
    width: 48px;
    height: 21px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.025em;
    color: #333333;
    margin-top: 10%;
}


.contact-box{
    width: 400px;
    height: 21px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50px;
}

.minion1{
    width: 874px;
    height: 450px;
    position:absolute;
    z-index: 1;
    
}

.minion2{
    width: 1077px;
    height: 555px;
    position:absolute;
    z-index: 1;
    left: 20%;
}

.minions{
    display: inline-flex;
}

/* 5 - Footer */

.foot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #333333;
    text-align: center;
    z-index: 10;
}